body {
    background-color: whitesmoke;
}
.header {
    text-align: center;
    margin: 22px;
    font-size: 50px;
    font-family: 'kanit', sans-serif;
}

.section-title {
    text-align: left;
    font-size: 34px;
    margin: 18px;
    font-family: 'kanit', sans-serif;
    font-weight: bold;
}

div {
    display: block;
    border: 2px solid lightslategray;
    margin: 20px 100px;
    background-color: white;
}
.colors {
    display: flex;
    justify-content: center;
}

.panel {
    display: flex;
    justify-content: center;
    color: black;
    min-height: 100px;
    width: 250px;
    font-size: 24px;
}
.color-name,
.hex-code {
    text-align: center;
}
/* panel colors */
#silver {
    background-color: #e6e6fa;
}
#blue {
    background-color: #008080;
    color: white;
}
#crimson {
    background-color: #800000;
    color: white;
}
#darkgray {
    background-color: #333333;
    color: white;
} 
/* fonts section */
#font-section {
    align-items: center;
}
table {
    display: flex;
    justify-content: center;
}
th {
    text-decoration: underline;
    font-size: 28px;
}
td {
    line-height: 1.5;
    margin: 10px;
}
.joan {
    font-family: 'joan', serif;
}
.lato {
    font-family: 'lato', sans-serif;
}
.kanit {
    font-family: 'kanit', sans-serif;
    margin-bottom: 25px;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
/* text styles section */
#h1 {
    text-align: left;
    margin-left: 15px;
}
#h2 {
    text-align: left;
    margin-left: 15px;
}
#p {
    text-align: left;
    margin-left: 15px;
}
.list {
    margin-left: 15px;
}
footer p {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    margin-top: 50px;
}