body {
    
    background-image: url('./images/sky-backdrop.jpg');
    background-size: 100%; 
}

.grid {
    width: 400px;
    height: 600px;
    background-color: skyblue;
    position: relative;
    font-size: 50px;
    text-align: center;
    margin: auto;
}

.container {
    font-size: 200px;
    text-align: center;
}

.cooper {
    width: 60px;
    height: 122px;
    background-image: url('./images/jumpy.png');
    background-size: 60px;
    position: absolute;
}

.platform {
    width: 85px;
    height: 15px;
    border-radius: 6px;
    background-color: green;
    position: absolute;
}



.initial h1 {
    font-size: 30px;
}

.initial h4 {
    font-size: 20px;
}

.initial img {
    margin-top: 22px;
}


.hide {
    visibility: hidden;
}