
body {
    background: whitesmoke;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
/* Nav bar */
header {
    background: #1E232E;
    display: flex;
    margin: 0;
    height: 119px;
    align-items: center;
    justify-content: space-between;
}
.logo {
    justify-self: flex-start;
    height: 120px;
    margin: 0;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav {
    width: 45%;
    margin-right: 40px;
}

li a {
    text-decoration: none;
    color: white;
    padding: 0 20px;
    display: inline-block;
    font-size: 18px;

}

li a::after {
    content: "";
    display: block;
    height: 4px;
    width: 0;
    background: #c4c4f7;
    transition:all .5s
}
li a:hover::after {
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: lightgray
}
nav a:active {
    color: slategrey;
}
/*banner section */
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/banner\ background.jpg!d);
    height: 675px;
}

.banner h2 {
    color: whitesmoke;
    font-size: 50px;
    margin-bottom: 0;
    background: black;
}
.banner h1 {
    color: whitesmoke;
    background: black;
    font-size: 60px;
    margin-top: 0;
}
/* services section */
.services {
    display: flex;
    justify-content: space-between;
}

.content-left {
    display: block;
    flex-direction: column;
    margin-left: 60px;
}
.content-left ul {
    display: flex;
    flex-direction: column;
    list-style: circle;

}
.content-left li {
    padding-top: 40px;
}
.content-right {
    
}
/*contact section */
.contact {
    background: #12284C;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact li {
    font-size: 18px;
    
    color: lightgray;
}
.contact h5 {
    color: rgb(196, 196, 196);
    font-size: 18px;
    width: 70%;
    text-align: center;
}
.contact h4 {
    font-size: 35px;
}
.contact h2 {
    text-decoration: underline;
    margin-bottom: 0;
}
/*about section */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.profiles {
    display: flex;
}
.about img {
    width: 60%;
}
/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #1E232E;
}
footer ul {
    display: flex;
    flex-direction: column;
}
footer h4 {
    font-size: 25px;
    color: gray;
}
footer li {
    color: whitesmoke;
    padding: 4px;
}
footer p {
    color: gray;
}
